<div class="login-page">
    <div class="form">
      <div>
        <img src="assets/images/argosLogo.png" width="100%" />
      </div>
      <br />
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div>
            <div class="alert alert-danger" role="alert" *ngIf="(loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched) || (loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched)">
              Usuario y contrase&ntilde;a requeridos.
            </div>
        </div>
        <div *ngIf="invalidLogin" class="alert alert-warning" role="alert">
            <div>Usuario o contrase&ntilde;a inv&aacute;lidos.</div>
          </div>
          <input type="text" 
                 class="form-control" 
                 formControlName="username" 
                 id="username" 
                 autocomplete="off" 
                 placeholder="Usuario"
                 [(ngModel)]="usuario.username">
        <div class="form-group"></div>
          <input type="password" 
                class="form-control" 
                formControlName="password" 
                id="pwd" 
                autocomplete="off" 
                placeholder="Contrase&ntilde;a"
                [(ngModel)]="usuario.password">
        <button (submit)="onSubmit()" class="" [disabled]="loginForm.invalid">Login</button>
        <p class="message">Si a&uacute;n no est&aacute;s registrado <a href="#">Solicita tu acceso</a></p>
      </form>
    </div>
  </div>